*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

$font-main: 'Inter', sans-serif;

body {
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgba(238, 238, 238, 0.4);
  background-blend-mode: overlay;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../../assets/images/back7.png");
    background-size: cover;
    background-position: center;
    filter: blur(100px) saturate(160%);
    transform: scale(1.1);
    z-index: -1;
  }

  .sidebarwrapper {
    height: 100%;
    flex-shrink: 0;
    padding: 10px;
    //border-right: 1px solid rgba(0, 0, 0, 0.05);
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .profileblock {
      display: flex;
      flex-direction: row;
      border-radius: 16px;
      gap: 13px;
      width: 300px;
      height: 80px;
      align-items: center;
      transition: all 0.3s ease;

      .avatarImg {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        margin-left: 9px;
        object-fit: cover;
      }

      .profiletitles {
        margin-left: 10px;

        .usertitle {
          display: block;
          font-size: 16px;
          font-weight: 600;
        }

        .userstatus {
          font-size: 14px;
          color: #22c55e;
          font-weight: 500;
        }
      }

      .icons {
        transform: translateX(7rem);
        transition: all 0.3s ease;

        svg {
          color: #7d7d7d;
          width: 20px;
          height: 20px;
        }

        &:hover {
          cursor: pointer;

          svg {
            color: #333232;
          }
        }
      }
    }

    .chatsList {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 20px;
      transition: all 0.3s ease;

      .chatblock {
        display: flex;
        border-radius: 12px;
        border-bottom: 1px solid #e4e4e4;
        position: relative;
        align-items: center;
        gap: 12px;
        padding: 10px 15px;
        background: rgba(250, 250, 250, 0.53);
        transition: background 0.2s;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%) scaleY(0);
          height: 60%;
          width: 4px;
          background: #2B7FFF;
          border-radius: 0 4px 4px 0;
          opacity: 0;
          transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
          opacity 0.2s ease;
        }

        &:hover:not([data-active="true"]) {
          background: rgba(255, 255, 255, 0.68);

          &::before {
            opacity: 0.7;
            transform: translateY(-50%) scaleY(0.3);
          }
        }

        &[data-active="true"] {
          background: rgba(255, 255, 255, 0.78);
          backdrop-filter: blur(10px);

          &::before {
            opacity: 1;
            transform: translateY(-50%) scaleY(1); // Повертаємо до повної висоти
          }
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .chatText {
          display: flex;
          position: relative;
          flex-direction: column;
          overflow: hidden;
          width: 200px;
          text-overflow: ellipsis;

          h4 {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
          }

          p {
            margin: 0;
            font-size: 14px;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .unreadcount {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          display: grid;
          place-items: center;
          width: 22px;
          height: 22px;
          min-width: 20px;
          background: #5B81E2;
          color: white;
          font-size: 12px;
          font-weight: bold;
          border-radius: 50%;
          line-height: 0;
          padding: 0;
          margin: 0;
        }

        .msgtime {
          position: absolute;
          font-size: 0.8rem;
          right: 12px;
          top: 70%;
          color: #6b7280;
        }

        .ticks {

        }
      }
    }
  }

  .noChatWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    .content {
      padding: 16px;
    }
  }

  .chatwindow {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
    width: 80%;
    height: 97%;
    background: rgba(248, 248, 248, 0.77);
    backdrop-filter: blur(70px) saturate(150%);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    flex: 1;
    gap: 10px;
    transform: translateZ(0);
    will-change: transform;
    background-clip: padding-box;
    outline: 1px solid transparent;
    overflow: hidden;


    .messagesArea {
      position: relative;
      z-index: 1;
      display: flex;
      padding-bottom: 10px;
      overflow-y: auto;
      flex: 1;
      flex-direction: column;
      gap: 10px;
      padding: 15px;

      &::-webkit-scrollbar {
        display: none;
      }

      %time-styles {
        font-size: 0.75rem;
        margin-left: auto;
        margin-top: 4px;
        opacity: 0.7;
        line-height: 1;
        white-space: nowrap;
      }

      .mymsg {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        align-self: flex-end;
        position: relative;
        gap: 8px;
        background: linear-gradient(135deg, #2B7FFF 0%, #7E57FF 100%);
        color: #fff;
        border-radius: 18px 18px 4px 18px;
        padding: 10px 16px;
        width: fit-content;
        max-width: 30%;
        font-weight: 400;
        box-shadow: 0 4px 12px rgba(43, 127, 255, 0.25);
        word-break: break-word;

        .readtime {
          @extend %time-styles;
          color: rgba(255, 255, 255, 0.8);
        }
      }

      .msgbubble {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 8px;
        align-self: flex-start;
        width: fit-content;
        max-width: 30%;
        padding: 10px 16px;
        background: #ffffff;
        color: #1a1a1a;
        border-radius: 18px 18px 18px 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
        border: 1px solid rgba(0, 0, 0, 0.03);
        word-break: break-word;

        .readtime {
          @extend %time-styles;
          color: #999;
        }
      }
    }

    .sendcomponent {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      left: 0;
      width: 100%;
      gap: 10px;
      padding: 10px 15px 10px 15px;
      border-top: 1px solid rgba(112, 111, 111, 0.07);

      .textfield {
        width: 90%;
        height: 40px;
        border-radius: 14px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid rgba(147, 145, 145, 0.29);
      }

      .sendbtn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 100%;
        width: 34px;
        height: 34px;
        flex-shrink: 0;
        padding: 5px 5px 3px 3px;
        background: #2B7FFF;
        transition: all 0.3s ease;

        &:hover {
          background: #2471e7;

          svg {
            fill: #fff;
          }
        }

        svg {
          color: #ffffff;
        }
      }
    }
  }

  .searchcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 12px;

    .searchdiv {
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
      }

      input {
        width: 100%;
        height: 40px;
        border: none;
        background: none;
      }
    }
  }

  .filtercontainer {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;

    div {
      padding: 5px;
      background-color: rgba(253, 253, 253, 0.3);
      border: 1px solid rgb(253, 253, 253);
      width: 80%;
      border-radius: 16px;
    }
  }

  .chatheaderwrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #FAFAFA;
    padding: 15px;


    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: 20px;
    }

    .userstatus {
      font-size: 0.85rem;
      color: #22c55e;
    }
  }
}