@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$font-main: 'Inter', sans-serif;
$color-main: #ffff;
$modal-color-main: #f5f5f6;
$modal-element-shadow: 0 1px 3px rgba(0, 0, 0, 0.06),
0 4px 12px rgba(0, 0, 0, 0.08),
inset 0 1px 0 rgba(255, 255, 255, 1);
$modal-element-radius: 20px;
$color-primary: #2B7FFF;
$color-primary-hover: #2471e7;
$color-primary-disabled: #69a4f8;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  @include flex-center;
  padding: 9px 14px;
  border: none;
  border-radius: 10px;
  height: 38px;
  width: 100px;
  background: $color-primary;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    background: $color-primary-hover;
  }
  &:disabled {
    background: $color-primary-disabled;
    cursor: not-allowed;
  }
}

@mixin block-styles {
  @include flex-center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background: $color-main;
  box-shadow: $modal-element-shadow;
  border-radius: $modal-element-radius;
}

body {
  font-family: $font-main;
}

.emailcontainer {
  @include flex-center;
  background: $modal-color-main;
  width: 100%;
  height: 100vh;

  h4 {
    margin: 0 0 8px 0;
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    margin: 0;
    font-size: 1rem;
  }

  .error {
    font-size: 0.75rem;
    font-weight: 500;
    color: #dc2626;
  }

  .loadingblock {
    @include block-styles;
    background-color: #fffbeb;
    border: 1px solid #fde68a;

    h4 {
      color: #d97706;
    }

    p {
      color: #92400e;
    }
  }


  .successblock {
    @include block-styles;
    background-color: #ecfdf5;
    border: 1px solid #a7f3d0;

    h4 {
      color: #059669;
    }

    p {
      color: #064e3b;
    }
  }

  .errorblock {
    @include block-styles;
    background-color: #fef2f2;
    border: 1px solid #fecaca;

    h4 {
      color: #dc2626;
    }

    p {
      color: #7f1d1d;
    }

  }

  .newpassblock {
    @include block-styles;
    gap: 10px;

    input {
      width: 250px;
      height: 30px;
      min-height: 30px;
      padding: 10px;
      background: #FAFAFA;
      border-radius: 12px;
      border: 1px solid rgba(120, 122, 133, 0.07);
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #2B7FFF;
        background-color: #f2f2f2;
        outline: none;
      }
    }

    .error {
      font-size: 0.75rem;
      font-weight: 500;
      color: #dc2626;
    }

    button {
      @include button-style;
      margin-top: 20px;
      width: 200px;
    }
  }
}