@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


$font-main: 'Inter', sans-serif;
$color-main: #ffff;
$modal-color-main: #f5f5f6;
$input-focus-bg: #f2f2f2;
$border-radius: 16px;
$modal-border-radius: 24px;
$modal-search-radius: 16px;
$modal-list-hover-radius: 12px;
$color-text-secondary: #666;
$create-button-color: #1f5aee;
$color-primary-hover: #2471e7;


body, button {
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: absolute;
  padding: 10px;
  align-self: flex-end;
  left: 12%;
  bottom: 30px;
  transform: translate(00px);
  background-color: $color-main;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
}

.modalcontainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(2px);

  .modalcontent {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: $modal-color-main;
    width: 400px;
    height: clamp(500px, 100vh, 800px);
    padding: 24px;
    border-radius: $modal-border-radius;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
    gap: 10px;

    .closebtn {
      background: #e7e7e7;
      padding: 5px;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .creategroupblock {
      @include flex-center;
      background: $color-main;
      padding: 14px;
      border-radius: 20px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06),
      0 4px 12px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 rgba(255, 255, 255, 1);
      margin-top: auto;

      button {
        background: $create-button-color;
        border: #1c50d3;
        color: white;
        font-weight: 600;
        flex: 1;
        border-radius: 13px;
        padding: 12px;
        transition: all 0.3s ease;

        &:hover {
          background: $color-primary-hover;
        }
      }
    }

    .modalheader {
      margin-top: 20px;
      background: $color-main;
      border-radius: 20px;
      padding: 14px 16px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06),
      0 4px 12px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 rgba(255, 255, 255, 1);

      input {
        margin-top: 5px;
        width: 100%;
        box-shadow: none;
      }

      h4 {
        font-size: 1rem;
      }

      span {
        font-size: 0.85rem;
        color: $color-text-secondary;
      }
    }

    input {
      height: 38px;
      min-height: 38px;
      padding: 5px 5px 1px 15px;
      background: #FAFAFA;
      border-radius: $modal-search-radius;
      border: 1px solid rgba(120, 122, 133, 0.07);
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #2B7FFF;
        background-color: $input-focus-bg;
        outline: none;
      }
    }

    .searchusers {
      display: flex;
      flex-direction: column;
      flex: 1;
      max-height: 50vh;
      height: auto;
      overflow-y: auto;
      background: #FFFFFF;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06),
      0 4px 12px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 rgba(255, 255, 255, 1);

      &::-webkit-scrollbar {
        width: 20px;
      }

      .userblock {
        display: flex;
        flex: 1;
        background: #FFFFFF;
        margin-top: 10px;
        align-items: center;
        border-radius: 12px;
        height: 45px;
        max-height: 45px;
        transition: all 0.3s;
        border: 1px solid #FFFF;

        &:hover {
          background: #fafafa;
        }


        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: contain;
        }
      }
    }
  }


  .empty {
    @include flex-center;
    margin-top: 10px;
    font-size: 14px;
    color: #6b7280;
  }


  .backbtn {
    align-self: flex-start;
    position: absolute;
    top: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .selecteduserscontainer {
    display: flex;
    gap: 5px;

    .selecteduser {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px 0px 5px;
      background: #FFFFFF;
      width: fit-content;
      border-radius: 18px;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: contain;
      }
    }
  }

  .nameblock {
    display: flex;
  }
}